.config/nvim/lua/core
.config/nvim/lua/plugins
.config/nvim/.git
.config/nvim/.gitignore
.config/nvim/.ignore
.config/nvim/init.lua
.config/nvim/lazy-lock.json
.config/nvim/LICENSE
.config/nvim/.stylua.toml
